

.final-score__main-block
  margin-top: 50px
  display: flex
  flex-direction: column
  text-align: center
  min-height: 300px
  align-items: center

  .final-score__title
    font-size: 48px


  .final-score__score-number
    font-size: 48px



  .final-score__replay-btn
    margin-top: 15px
    max-width: 500px
    min-width: 300px







