

.game-block
  position: relative
  z-index: 2

.game-block:nth-child
 border: solid 1px white
 border-radius: 10px


.game-header
  display: flex
  justify-content: space-between

.header-logo
  font-size: 58px
  text-align: center

.header-score-block
  display: flex
  margin: auto 0
  text-align: center


.header-score-text
  font-size: 38px
  margin: auto 0

.header-score-number
 font-size: 48px
 margin: auto 0


.album-list
  display: flex
  flex-wrap: wrap
  text-align: center
  justify-content: center

.album-list-elm
  margin: 5px 10px
  padding: 5px 5px


.album-list-elm__active
  border: 1px solid white
  background-color: black
  border-radius: 5px
  font-weight: 700

.random-song
  display: flex
  padding: 10px

.random-song__info
  width: 100%

.random-song__img
  width: 200px
  height: 200px

.random-song__info
  width: 100%
  margin: 0 10px
  position: relative

.random-song__info-name
  margin: 10px

.random-song__info-song
  width: 98%
  position: absolute
  bottom: 0
  left: -3px

.game-body_var-and-answer
  display: flex

.game-variants-list
  width: 50%
  padding: 5px 5px

.game-variant
  cursor: pointer
  margin: 5px 0
  display: flex

.mark-all
  position: relative
  z-index: 2
  margin-right: 10px

.game-answer
  width: 50%
  padding: 0 5px
  position: relative
  display: flex


.game-answer__emotion
  width: 175px
  height: 175px
  margin-top: 10px
  margin-left: 10px

.game-answer__info-block
  margin-top: 20px
  margin-left: 10px


.game-answer__name
  margin: 5px 0

.game-answer__album-name
  margin: 5px 0


.game-answer__muz
  width: 98%
  position: absolute
  bottom: 0
  left: 0
  border-radius: 10px
  margin: 5px 5px 5px 5px



.game-next-lvl-btn
  text-align: center
  font-size: 38px
  margin: 10px 0
  cursor: pointer

@media (max-width: 750px)

 .game-body_var-and-answer
  display: block

 .game-variants-list
  width: unset
  margin-bottom: 30px

 .game-answer
  width: unset
  min-height: 240px

 .random-song
   display: block
   text-align: center

 .random-song__info-song
   position: unset
