*
  padding: 0
  margin: 0
  font-size: 28px


body
  background-color: black
  color: white

.dsp-none
  display: none

.background-image
  position: absolute
  top: 0
  left: 0
  z-index: 0
  width: 100%
  height: 100%
  //overflow: hidden
  //background-image: url("../img/wallpaper/001.jpg")

.whole-page
  //position: absolute
  width: 100%
  height: 100%


.midl-block
  max-width: 1110px
  margin: 0 auto
  padding: 0 5px


.border-effect
  border: solid 1px white
  border-radius: 10px

.start_block
  position: relative
  min-height: 400px
  margin: 10% auto 10% auto
  padding: 0 10px
  max-width: 50%
  min-width: 300px

  z-index: 1



.elm-background
  background-color: rgba(0, 0, 0, 0.7)


.start-question
    text-align: center
    font-size: 64px

.start-button
  color: white
  margin: 60px auto
  cursor: pointer
  font-size: 64px
  text-align: center
  width: 100%
  max-width: 900px
  border: solid 4px white
  border-radius: 10px


